POSTGRES_DB=biostar
POSTGRES_USER=biostar
POSTGRES_PASSWORD=CHANGE_ME_TO_A_LONG_RANDOM_PASSWORD

BIOSTAR_AUTH_ADMIN_KEY=CHANGE_ME_TO_A_LONG_RANDOM_ADMIN_KEY
BIOSTAR_DOMAIN=api.example.com
BIOSTAR_PUBLIC_URL=http://api.example.com
BIOSTAR_ALLOWED_ORIGINS=
