BIOSTAR_AUTH_ADMIN_KEY=CHANGE_ME_TO_A_LONG_RANDOM_ADMIN_KEY
BIOSTAR_DOMAIN=api.bioapps.org
BIOSTAR_PUBLIC_URL=https://api.bioapps.org
BIOSTAR_ALLOWED_ORIGINS=

POSTGRES_DB=biostar
POSTGRES_USER=biostar
POSTGRES_PASSWORD=CHANGE_ME_TO_A_LONG_RANDOM_DATABASE_PASSWORD
