BIOSTAR_ENV=dev

BIOSTAR_DOMAIN=localhost
BIOSTAR_PUBLIC_URL=http://localhost
BIOSTAR_ALLOWED_ORIGINS=http://localhost

API_PORT=8000

POSTGRES_DB=biostar
POSTGRES_USER=biostar
POSTGRES_PASSWORD=biostar

BIOSTAR_AUTH_ADMIN_KEY=change-me-to-a-long-random-secret
